<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <div class="f-info">
       <div class="f-info-socials">
       <!--- <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-square-x-twitter"></i>
       -->
       <a href="https://www.instagram.com/ersudhirsingh999?igsh=cGhrYmp5cGhpMXQ%3D&utm_source=qr" style="--i:5 ;"><i class="fa-brands fa-instagram"></i></a>
       <a href="https://www.linkedin.com/in/ersudhir-kumar-singh999nitian?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" style="--i:6 ;"><i class="fa-brands fa-linkedin"></i></a>
       <a href="https://github.com/ersudhirsingh999/ersudhirsingh999.github.io" style="--i:5 ;"><i class="fa-brands fa-github"></i></a>
       <a href="https://x.com/ersudhirsingh99?s=11&t=Z3C_RxT60_4mifozi1yBBQ" style="--i:6 ;"><i class="fa-brands fa-twitter"></i></a>
       <a href="https://www.facebook.com/kumarsudhir.singh.35?mibextid=LQQJ4d" style="--i: 7;"><i class="fa-brands fa-facebook"></i></a>
       <a href="https://www.youtube.com/@073_sudhirkumar6" style="--i: 8;"><i class="fa-brands fa-youtube"></i></a>
       <a href="https://www.youtube.com/@073_sudhirkumar6" style="--i: 8;"><i class="fa-brands fa-portfoilo"></i></a>
       </div>
    <div class="f-info-brand"><p id="p">&copy; WanderLust Private Limited</p></div>
    <div class="f-info-links">
        <a href="/privacy">privacy &nbsp;</a>
        <a href="/terms">Terms</a>
    </div>
</div>
</footer>